<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper" >
    <div class="footer-nav">
        <a class="page-link" href="{{ '/' | relative_url }}#home">Home</a>
        <a class="page-link" href="{{ '/' | relative_url }}#about">About</a>
        <a class="page-link" href="{{ '/' | relative_url }}#call-for-papers">Call for Papers</a>
        <a class="page-link" href="{{ '/' | relative_url }}#speakers">Speakers</a>
        <a class="page-link" href="{{ '/' | relative_url }}#program-schedule">Program Schedule</a>
        <a class="page-link" href="{{ '/' | relative_url }}#organizers">Organizers</a>
    </div>
    </div>
      <h2 class="footer-heading"><a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a> - <a href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a> <a href="https://github.com/{{ site.github_username }}">{{ site.author }}</a> - {{ site.pub_year }}.</h2> 
  </div>
</footer>
